/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html,
body,
.gobalContainer
{
    height: 100%;
    border: 1px red solid;
}

body {
	margin: 0;
}